<tr class="whitespace-nowrap" id="<%= dom_id service %>">
  <td class="px-6 py-4 text-sm text-gray-900">
    <%= service.service_type.name %>
  </td>
  <td class="px-6 py-4 text-sm text-gray-500">
    <%= service.active_users %>
  </td>
  <td class="px-6 py-4 text-sm text-gray-500">
    <%= service.rate %>
  </td>
  <td class="px-6 py-4 text-sm text-gray-500">
    <%= (service.active_users * service.rate).round(2) %> 
  </td>
</tr>