<!-- component -->
<div class="flex flex-row min-h-screen w-full bg-white text-black">
    <%= render "layouts/header" %>

    <main class="main flex flex-col flex-grow -ml-64 md:ml-0 transition-all duration-150 ease-in h-screen overflow-auto">
      <div class="main-content flex flex-col flex-grow p-4">
        <div class="flex justify-between m-3">
          <%= link_to "< Back", :back, class:"w-16 my-auto py-1 px-1 rounded-lg bg-gray-500 text-white text-center inline-block font-medium cursor-pointer" %>
          <h1 class="font-bold text-2xl text-black my-auto"><%= @client.name %></h1>
          <div></div>
        </div>

        <div class="flex flex-col flex-grow mt-4 p-5">
          <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
              <table class="w-full text-sm text-left">
                  <thead class="text-xs uppercase text-dark bg-gray-200 border-b">
                      <tr>
                          <th scope="col" class="px-6 py-3">
                            Client
                          </th>
                          <th scope="col" class="px-6 py-3">
                            Active Users
                          </th>
                          <th scope="col" class="px-6 py-3">
                            Rate
                          </th>
                          <th scope="col" class="px-6 py-3">
                            Total
                          </th>
                      </tr>
                  </thead>
                  <tbody id="services" class="text-gray-500">
                    <%= render @services %>
                    <tr class="bg-gray-300">
                        <td colspan="5"></td>
                    </tr>
                    <tr class="whitespace-nowrap">
                        <td colspan="2">
                        </td>
                        <td class="px-6 py-4 text-sm">
                            Sub Total :  
                        </td>
                        <td class="px-6 py-4 text-sm">
                            <%= @sub_total %>$ 
                        </td>
                    </tr>
                    <tr class="whitespace-nowrap">
                        <td colspan="2">
                        </td>
                        <td class="px-6 py-4 text-sm">
                            Tax : 
                        </td>
                        <td class="px-6 py-4 text-sm">
                            <%= @tax %>% 
                        </td>
                    </tr>
                    <tr class="whitespace-nowrap">
                        <td colspan="2">
                        </td>
                        <td class="px-6 py-4 text-sm">
                            Total :  
                        </td>
                        <td class="px-6 py-4 text-sm">
                            <%= @total %>$ 
                        </td>
                    </tr>
                  </tbody>
              </table>
            </div>


            <div class="flex justify-between my-5">
              <div class="my-auto text-gray-500">
                (Click on any number of active users or rate to edit it)
              </div>
              <div class="my-auto text-gray-500">
                <%= link_to "Preview", client_preview_path(client: @client.id, month: @month, year: @year), class: "mx-2 my-auto rounded-lg py-2 px-3 bg-blue-600 font-medium text-white hover:underline" %>
              </div>
            </div>
        </div>
      </div>
    </main>
  </div>