<tr class="bg-blue-600 border-b border-blue-400"  id="<%= dom_id client %>">
  <th scope="row" class="px-6 py-4 font-medium bg-blue-500 text-blue-50 whitespace-nowrap dark:text-blue-100">
    <%= client.name %>
  </th>
  <td class="px-6 py-4">
    <%= client.owner %>
    <%= client.email %>
    <%= client.address %>
    <%= client.state %>
  </td>
  <td class="px-6 py-4 bg-blue-500">
    <%= client.total_customers %>
  </td>
  <td class="px-6 py-4 flex justify-center">
    <%= link_to "Services", services_path(client_id: client.id), class: "mx-2 rounded-lg py-1 px-2 bg-blue-500 font-medium text-white hover:underline" %>
    <%= link_to 'Edit', edit_client_path(client), class: "mx-2 rounded-lg py-1 px-2 bg-orange-500 font-medium text-white hover:underline" %>
    <%= button_to 'Delete', client_path(client), method: :delete, data: { turbo_confirm: 'Are you sure?' }, class: "mx-2 rounded-lg py-1 px-2 bg-red-500 font-medium text-white hover:underline" %>
  </td>
</tr>