<!-- component -->
<div class="flex flex-row min-h-screen w-full bg-white text-black">
    <%= render "layouts/header" %>

    <main class="main flex flex-col flex-grow -ml-64 md:ml-0 transition-all duration-150 ease-in h-screen overflow-auto">
      <div class="main-content flex flex-col flex-grow p-4">
        <div class="flex justify-between">
          <h1 class="font-bold text-2xl text-black my-auto">Clients</h1>
          <%= search_form_for @q do |f| %>
            <div class="flex">
              <%= f.text_field :name_cont, class: 'mx-2 border border-gray-300 text-gray-900 text-sm rounded-xl focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5' %>
              <%= f.submit class: 'mx-2 bg-blue-600 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-xl' %>
            </div>
          <% end %>
        </div>

        <div class="flex flex-col flex-grow mt-4 p-5">
          <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
              <table class="w-full text-sm text-left">
                  <thead class="text-xs uppercase border-b bg-gray-200">
                      <tr class="text-center">
                          <th scope="col" class="px-6 py-3">
                            Name
                          </th>
                          <th scope="col" class="px-6 py-3">
                            Total Customers
                          </th>
                          <th scope="col" class="px-6 py-3">
                            Actions
                          </th>
                      </tr>
                  </thead>
                  <tbody id="clients">
                    <%= render @clients %>
                  </tbody>
              </table>
            </div>

        </div>
      </div>
    </main>
  </div>